body {
  margin: 0;
  background-color: linen;
  font-family: Arial;
}

h1 {
  background-color: purple;
  color: white;
  font-size: 32px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

p {
  font-size: 12px;
}

article.note .timestamp {
  display: block;
  font-weight: bold;
  font-size: 90%;
}

article.note .content {
  display: block;
  font-style: bold;
}

article {
  padding: 10px 30px 5px 30px;
}

nav {
  background-color: cyan;
  padding: 5px 30px;
}
