<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes!</title>
    <link rel="stylesheet" href="styles/notes.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="scripts/notes.js"></script>
  </head>
  <body>
    <h1>Notes</h1>
    <nav>
      <a href="/notes">Add a Note</a>
      {% if logout_link %}
        <a href="{{ logout_link }}">Logout</a>
      {% endif %}
    </nav>
    {% for note in notes %}
    <article class="note">
      <span class="timestamp">{{ note.timestamp }}</span>
      <span class="content">{{ note.content }}</span>
    </article>
    {% endfor %}
  </body>
</html>
