body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: radial-gradient(gold, skyblue);
  font-family: Arial;
}

h1 {
  background-color: purple;
  color: white;
  font-size: 32px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

h1 + div {
  background-color: #faf;
  padding: 10px;
}

article {
  font-size: 18px;
  background-color: lightsteelblue;
  border: 1px solid red;
  border-radius: 5px;
  margin: 20px;
  padding: 8px;
}

p#addbutton {
  margin-left: 20px;
}

p#addbutton a {
  font-size: 16px;
  color: white;
  background-color: blue;
  padding: 8px;
  text-decoration: none;
}

textarea, input {
  margin-left: 20px;
}
